.post_container {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.post_image {
    width: 940px;
    height: 500px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 10px;

    position: relative;
}

.post_additional_info_container {
    box-sizing: border-box;

    position: absolute;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.8);

    font-family: IBMPlexSans, sans-serif;
    font-weight: 700;

    color: rgba(255, 255, 255, 0.6);
}

.post_title {
    margin-top: 10px;
    margin-left: 20px;

    font-size: 26px;
    line-height: 40px;
    text-transform: uppercase;
}

.post_author {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.post_description {
    width: 900px;

    display: flex;
    flex-direction: column;

    margin-bottom: 40px;
}

.post_block {
    font-family: IBMPlexSans, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.post_youtube {
    width: 750px;
    height: 400px;
    margin: 30px auto 40px;
}

@media screen and (max-width: 1000px) {
    .post_image {
        width: 800px;
        height: 400px;
    }

    .post_title {
        font-size: 22px;
        line-height: 28px;
    }

    .post_author {
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
    }

    .post_description {
        width: 760px;
    }

    .post_block {
        font-size: 17px;
        line-height: 19px;
    }

    .post_youtube {
        width: 600px;
        height: 350px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .post_image {
        width: 100vw;
        height: 200px;
    }

    .post_title {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 17px;
        line-height: 20px;
    }

    .post_author {
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 3px;
        font-weight: 500;
        font-size: 14px;
    }

    .post_description {
        width: 95vw;
    }

    .post_block {
        font-size: 16px;
        line-height: 20px;
    }

    .post_youtube {
        width: 93vw;
        height: 250px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}