.post_container {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.post_image {
    width: 940px;
    height: 500px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.post_additional_info_container {
    box-sizing: border-box;
    margin-left: 40px;

    position: absolute;
    bottom: 20px;

    font-family: Roboto, sans-serif;
    font-weight: 700;

    color: #FFFFFF;
}

.post_title {
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
}

.post_author {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
}

.post_description {
    width: 750px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.post_block {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.post_youtube {
    width: 750px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
    .post_image {
        width: 650px;
        height: 350px;
    }

    .post_additional_info_container {
        margin-left: 15px;
        bottom: 15px;
    }

    .post_title {
        font-size: 24px;
        line-height: 28px;
    }

    .post_author {
        margin-top: 8px;
        font-weight: 500;
        font-size: 12px;
    }

    .post_description {
        width: 550px;
    }

    .post_block {
        font-size: 17px;
        line-height: 19px;
    }

    .post_youtube {
        width: 550px;
        height: 350px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .post_image {
        width: 95vw;
        height: 200px;
    }

    .post_additional_info_container {
        margin-left: 7px;
        bottom: 7px;
    }

    .post_title {
        font-size: 14px;
        line-height: 16px;
    }

    .post_author {
        margin-top: 3px;
        font-weight: 500;
        font-size: 10px;
    }

    .post_description {
        width: 90vw;
    }

    .post_block {
        font-size: 13px;
        line-height: 16px;
    }

    .post_youtube {
        width: 90vw;
        height: 250px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
}