.app_main {
    box-sizing: border-box;

    width: 80vw;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    max-width: 1200px;

    flex: 1 0 auto;
    position: relative;
}

.page-enter {
    position: absolute;
    opacity: 0;
}

.page-enter-active {
    position: absolute;
    opacity: 1;
    transition: opacity 500ms;
}

.page-exit {
    position: absolute;
    opacity: 1;
}

.page-exit-active {
    position: absolute;
    opacity: 0;
    transition: opacity 500ms;
}

@media screen and (max-width: 1000px) {
    .app_main {
        width: 90vw;
        margin-top: 10px;

        flex: 1 0 auto;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .app_main {
        width: 100vw;
        margin-top: 5px;

        flex: 1 0 auto;
        position: relative;
    }
}

