.home_container {
    box-sizing: border-box;

    width: 80vw;
    height: 100%;
    max-width: 1200px;
    padding: 20px;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: relative;
}

.home_video_container {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1920px;
    max-height: 1080px;

    margin: 0 auto;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.home_preview_container {
    width: 600px;
    height: 465px;

    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    right: -1vw;

    animation: ease-in-out 1.7s show_home_preview_container;
}

@keyframes show_home_preview_container {
    0% {
        transform: translateX(2000px);
    }
    80% {
        opacity: 0;
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
    }
}

.home_preview {
    padding: 10px;

    font-family: Hellix, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: rgba(198, 0, 0, 255);
    text-transform: uppercase;
    text-align: center;

    animation: ease-in 2.2s show_home_preview;
}

@keyframes show_home_preview {
    0% {
        transform: translateX(2000px);
    }
    80% {
        opacity: 0;
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
    }
}

.home_description {
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;

    font-family: Hellix, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.8);

    animation: ease-in 2.7s show_home_description;
}

@keyframes show_home_description {
    0% {
        transform: translateX(2000px);
    }
    80% {
        opacity: 0;
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
    }
}

.home_click_next {
    position: absolute;
    left: 0;
    bottom: 10%;

    animation: ease-in 3.2s show_home_link;
}

.home_click_next:hover {
    transform: scale(1.2);
}

.home_click_link {
    font-family: Hellix, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;

    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}

.home_click_link:hover {
    color: rgba(198, 0, 0, 255);
    animation: 1s linear home_click_link_hover;
}

@keyframes home_click_link_hover {
    0% {
        color: rgba(255, 255, 255, 0.8);
    }
    100% {
        color: rgba(198, 0, 0, 255);
    }
}

.home_poster {
    display: none;
}

@keyframes show_home_link {
    0% {
        transform: translateX(-2000px);
    }
    80% {
        opacity: 0;
        transform: translateX(-1000px);
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .home_container {
        width: 90vw;
        height: 100%;
        padding: 15px;
    }

    .home_video_container {
        height: 100vh;
        width: auto;
    }

    .home_preview_container {
        width: 550px;
        height: 430px;
    }

    .home_preview {
        padding: 8px;

        font-size: 22px;
        line-height: 28px;
    }

    .home_description {
        margin-top: 8px;
        margin-left: 4px;
        padding: 8px;

        font-size: 16px;
        line-height: 22px;
    }

    .home_click_link {
        font-size: 22px;
        line-height: 28px;
    }
}

@media screen and (max-width: 600px) {
    .home_container {
        width: 100vw;
        height: 100%;
        max-width: 370px;

        margin: 0 auto;
        padding: 0;
    }

    .home_video_container {
        width: 0;
        height: 0;
        display: none;
    }

    .home_preview_container {
        width: 375px;
        height: 475px;
    }

    .home_preview {
        padding: 2px;

        font-size: 18px;
        line-height: 24px;
    }

    .home_description {
        margin-top: 8px;
        margin-left: 4px;
        padding: 8px;

        font-size: 16px;
        line-height: 22px;
    }

    .home_click_link {
        padding: 4px;
        font-size: 18px;
        line-height: 24px;
    }

    .home_poster {
        width: 100vw;
        height: 100vh;

        background-size: cover;
        background-position: center;

        display: block;

        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
}