.app_header {
    width: 100%;
    background-color: #000000;
}

.navbar_container {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo {
    width: 80px;
    height: 45px;
    margin-right: 5%;

    flex-basis: 10%;
}

.navbar_logo_link {
    width: 100%;
    height: 100%;

    position: relative;
}

.navbar_logo_img {
    width: 80px;
    height: 60px;

    position: absolute;
    left: -40px;
    top: -7px;
}

.navbar_logo_img:hover {
    animation: ease-in 1s hoverLogoAnimate;
}

@keyframes hoverLogoAnimate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar_list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    justify-content: flex-start;
    flex-basis: 70%;
}

.navbar_list_item {
    margin-left: 5%;
}

.navbar_list_item_link {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;

    color: #FFFFFF;
    text-decoration: none;

    border-bottom: 3px solid #ffffff;
    display: inline-block;
}

.navbar_list_item_link:hover {
    color: #f1356d;
    border-color: #f1356d;
    animation: ease-in 0.3s hoverItemAnimate;
}

@keyframes hoverItemAnimate {
    0% {
        color: #FFFFFF;
        border-color: #ffffff;
    }

    100% {
        color: #f1356d;
        border-color: #f1356d;
    }
}

.navbar_auth {
    flex-basis: 10%;
}

.navbar_auth_button {
    width: 100px;
    height: 40px;

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    outline: none;
    border: 2px solid white;
    border-radius: 20px;

    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);

    cursor: pointer;
}

.navbar_auth_button:hover {
    color: #f1356d;
    border-color: #f1356d;
    animation: ease-in 0.3s hoverItemAnimate;
}

.navbar_auth_button:active {
    transform: translateY(4px);
}