.member_container {
    padding: 15px;
}

.member_image {
    width: 450px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;

    border: 3px solid #111111;

    float: right;
}

.member_name {
    font-family: Nimbus-sans, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.member_description {
    margin-top: 30px;

    font-family: Hellix, sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
}