.members_container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;

    margin: 0 auto;
}

.members_list {
    display: flex;
    flex-direction: column;
}

.members_list_item {
    margin-bottom: 60px;
}

.members_item_image {
    width: 350px;
    height: 350px;
    margin: 30px;
    border: 5px solid rgba(196, 24, 24, 0.3);
}

.members_item_description {
    margin-bottom: 30px;

    font-family: Hellix, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.members_item_name {
    font-family: Hellix, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: rgba(198, 0, 0, 255);
    margin-bottom: 17px;

    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .members_container {
        width: 95%;
        padding: 16px;
    }

    .members_list_item {
        margin-bottom: 45px;
    }

    .members_item_image {
        width: 320px;
        height: 320px;
        margin: 25px;
        border: 4px solid rgba(196, 24, 24, 0.3);
    }

    .members_item_description {
        margin-bottom: 25px;

        font-size: 18px;
        line-height: 24px;
    }

    .members_item_name {
        font-size: 22px;
        line-height: 28px;
    }
}

@media screen and (max-width: 600px) {
    .members_container {
        width: 97%;
        padding: 12px;
    }

    .members_list_item {
        margin-bottom: 35px;
    }

    .members_item_image {
        width: 100%;
        height: auto;
        margin: 10px 0 15px;
        border: 0;
    }

    .members_item_description {
        margin-top: 25px;

        font-size: 17px;
        line-height: 23px;
    }

    .members_item_name {
        font-size: 20px;
        line-height: 26px;
    }
}

