.members_container {
    width: 100%;
    padding: 20px;
}

.members_list {
    display: flex;
    flex-direction: column;
}

.members_list_item {
    margin-bottom: 80px;
}

.members_item_image {
    box-sizing: border-box;
    width: 350px;
    height: 350px;
    margin: 30px;
    border: 5px solid rgba(196, 24, 24, 0.3);
}

.members_item_description {
    margin-top: 30px;

    font-size: 19px;
    line-height: 25px;
}

.members_item_image_container {
    width: 360px;
    height: 360px;
}

.members_item_name {
    font-family: Hellix, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

