.members_container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;

    margin: 0 auto;
}

.members_list {
    display: flex;
    flex-direction: column;
}

.members_list_item {
    margin-bottom: 60px;
    text-align: right;
}

.members_list_item:nth-child(even) {
    text-align: left;
}

.members_list_item:nth-child(odd) {
    text-align: right;
}

.members_item_image {
    width: 350px;
    height: 350px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.members_item_description {
    margin-bottom: 30px;

    font-family: IBMPlexSans, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

.members_item_name {
    font-family: IBMPlexSans, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: rgba(200, 200, 200, 0.8);
    margin-bottom: 17px;

    text-transform: uppercase;
}



@media screen and (max-width: 1000px) {
    .members_container {
        width: 95%;
        padding: 16px;
    }

    .members_list_item {
        margin-bottom: 45px;
    }

    .members_item_image {
        width: 320px;
        height: 320px;
        margin: 25px;
    }

    .members_item_description {
        margin-bottom: 25px;

        font-size: 18px;
        line-height: 24px;
    }

    .members_item_name {
        font-size: 22px;
        line-height: 28px;
    }
}

@media screen and (max-width: 600px) {
    .members_container {
        width: 97%;
        padding: 12px;
    }

    .members_list_item {
        margin-bottom: 35px;
    }

    .members_item_image {
        width: 100%;
        height: auto;
        margin: 10px 0 15px;
        border: 0;
    }

    .members_item_description {
        margin-top: 25px;

        font-size: 17px;
        line-height: 23px;
    }

    .members_item_name {
        font-size: 20px;
        line-height: 26px;
    }
}

