.app_container {
    min-height: 100vh;

    text-align: center;

    display: flex;
    flex-direction: column;
}

.app_main_container {
    flex-grow: 1;
}

.app_footer_container {
    flex-shrink: 0;
}