.app_main {
    width: 80vw;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    flex: 1 0 auto;
    position: relative;
}

/*
@keyframes fade-in {
    0% {
        position: absolute;
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        position: static;
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        position: absolute;
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        position: absolute;
        transform: translateX(100%);
        opacity: 0;
    }
}

.page {
    position: relative;
}

.page-enter-active {
    animation: fade-in 1s forwards;
}

.page-exit-active {
    animation: fade-out 0.9s forwards;
}*/

.page-enter {
    position: absolute;
    opacity: 0;
    transform: scale(1.2);
}

.page-enter-active {
    position: absolute;
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
}

.page-exit {
    position: absolute;
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    position: absolute;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 500ms, transform 500ms;
}

@media screen and (max-width: 1000px){
    .app_main {
        width: 85vw;
        margin-top: 10px;

        flex: 1 0 auto;
        position: relative;
    }
}

@media screen and (max-width: 600px){
    .app_main {
        width: 95vw;
        margin-top: 10px;

        flex: 1 0 auto;
        position: relative;
    }
}

