@font-face {
    font-family: 'Hellix';
    font-weight: 500;
    src: local('Hellix'), url(./fonts/Hellix-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Hellix';
    font-weight: 700;
    src: local('Hellix'), url(./fonts/Hellix-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nimbus-sans';
    font-weight: 700;
    src: local('Nimbus-sans'), url(./fonts/NimbusSanL-Bol.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: repeat;

    font-family: Hellix, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: rgba(200, 200, 200, 0.8);
}

#root {
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.8);
}